<a href="https://colab.research.google.com/github/ttobaegi/Selfstudy_python/blob/main/CustomerAnalytics_Parking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
import pandas as pd
import numpy as np
import datetime as dt

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [15]:
plt.rcParams['font.family'] = 'Malgun Gothic'  # (Windows 용) 한글 출력을 위한 글꼴 설정
plt.rcParams['axes.unicode_minus'] = False    # 문자 - (마이너스) 정상 출력을 위한 코드

pd.options.display.float_format = '{:20,.0f}'.format
pd.options.display.max_columns = 99
np.random.seed(42)

In [16]:
df = pd.read_csv('/content/drive/MyDrive/CustomerData/parking/실전db.csv')
df_original = df.copy() # 원본복사

In [17]:
df.shape

(879271, 8)

In [18]:
df = df.rename(columns=str.lower)

In [10]:
df.head()

   user_id   join_date d_type  store_id goods_type        date  count  ad1
0     2858  2014-01-07     AA      1892          A  2020-01-01      1   GN
1     5647  2014-02-14     BB    182009          A  2020-01-01      1    J
2    33314  2014-11-20     BB     82431          A  2020-01-01      1   SC
3    37001  2014-12-04     BB       725          C  2020-01-01      1   MP
4    37819  2014-12-07     AA    220691          C  2020-01-01      1  JRR