### EDA
*라이브러리
    1. seaborn as sns
    2. matplotlib as plt
    3. pandas as pd
    4. plotly as px

*범주형 데이터 시각화
    1. sns.barplot
    2. sns.boxplot
    3. sns.violinplot

*서브 플롯

    -- 여러 변수 --
    1. sns.PairGrid
    2. plt.subplots
    -- 개별 변수 --
    1. sns.FacetGrid
        - catplot : 범주형 :: stripplot, swarmplot, violinplot, pointplot, barplot
        - relplot : 관계 :: scatterplot, lineplot
        - displot : 분포 :: histplot, kdeplot,ecdfplot, rugplot

*데이터

    pd : value_counts, cross_tab, groupby, pivot_table

In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

import os

#### 데이터 불러오기

In [5]:
os.getcwd()

'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Py_DS_ML_Bootcamp-master\\Refactored_Py_DS_ML_Bootcamp-master'

In [9]:
session=pd.read_csv('C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Kaggle\\Project_2021\\Lpoint\\session.csv')
session.head(1)

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon

In [10]:
custom=pd.read_csv('C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Kaggle\\Project_2021\\Lpoint\\custom.csv')
custom.head(1)

   CLNT_ID CLNT_GENDER  CLNT_AGE
0  4830726           F        30

In [17]:
product=pd.read_csv('C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Kaggle\\Project_2021\\Lpoint\\Product.csv')

In [24]:
product.head(1)

   CLNT_ID  SESS_ID  HITS_SEQ    PD_C PD_ADD_NM PD_BRA_NM PD_BUY_AM PD_BUY_CT
0  4139680  7605037        12  642112   색상:워터멜론   [바비브라운]    39,000         1

In [50]:
master=pd.read_csv('C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Kaggle\\Project_2021\\Lpoint\\master1.csv')
master.drop('pd_nm',axis=1, inplace=True)

In [51]:
master.head(1)

    pd_c clac1_nm   clac2_nm  clac3_nm
0  64382    스포츠패션  남성일반스포츠의류  남성스포츠티셔츠

In [22]:
print(session.shape)
print(product.shape)
print(custom.shape)

(2712907, 9)
(5024906, 8)
(671679, 3)

In [42]:
session = pd.merge(session, custom,how='inner', left_on='CLNT_ID',right_on='CLNT_ID')
session.head(1)

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,CLNT_GENDER,CLNT_AGE
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon,F,20

In [43]:
session = pd.merge(session, product,how='inner', on=['CLNT_ID', 'SESS_ID'])
session.head(1)

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM,CLNT_GENDER,CLNT_AGE,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon,F,20,65,370753,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건),"20,000",1

In [63]:
# 필드명 소문자 변경
# index apply 함수 적용 불가능
session.columns = pd.Series(session.columns).apply(lambda x : x.lower())

In [65]:
session.head(1)

,clnt_id,sess_id,sess_seq,sess_dt,tot_pag_view_ct,tot_sess_hr_v,dvc_ctg_nm,zon_nm,city_nm,clnt_gender,clnt_age,hits_seq,pd_c,pd_add_nm,pd_bra_nm,pd_buy_am,pd_buy_ct
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon,F,20,65,370753,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건),"20,000",1

In [66]:
session = pd.merge(session, master,how='inner', on=['pd_c'])
session.head(1)

,clnt_id,sess_id,sess_seq,sess_dt,tot_pag_view_ct,tot_sess_hr_v,dvc_ctg_nm,zon_nm,city_nm,clnt_gender,clnt_age,hits_seq,pd_c,pd_add_nm,pd_bra_nm,pd_buy_am,pd_buy_ct,clac1_nm,clac2_nm,clac3_nm
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon,F,20,65,370753,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건),"20,000",1,패션잡화,패션액세서리,손수건

In [85]:
session.iloc[0]

clnt_id                              5873599
sess_id                              8641867
sess_seq                                   9
sess_dt                             20180509
tot_pag_view_ct                           82
tot_sess_hr_v                          1,890
dvc_ctg_nm                            mobile
zon_nm                               Daejeon
city_nm                              Daejeon
clnt_gender                                F
clnt_age                                  20
hits_seq                                  65
pd_c                                  370753
pd_add_nm          색상:선택(04) 기본체크 4번 세트 / 1개
pd_bra_nm                            닥스(손수건)
pd_buy_am                             20,000
pd_buy_ct                                  1
clac1_nm                                패션잡화
clac2_nm                              패션액세서리
clac3_nm                                 손수건
Name: 0, dtype: object

#### Quick Preprocessing

In [89]:
session['tot_sess_hr_v']=session['tot_sess_hr_v'].apply(lambda x : str(x).replace(',',''))
session['pd_buy_am']=session['pd_buy_am'].apply(lambda x : str(x).replace(',',''))

In [91]:
session.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3988524 entries, 0 to 3988523
Data columns (total 20 columns):
clnt_id            int64
sess_id            int64
sess_seq           int64
sess_dt            int64
tot_pag_view_ct    float64
tot_sess_hr_v      object
dvc_ctg_nm         object
zon_nm             object
city_nm            object
clnt_gender        object
clnt_age           int64
hits_seq           int64
pd_c               int64
pd_add_nm          object
pd_bra_nm          object
pd_buy_am          object
pd_buy_ct          object
clac1_nm           object
clac2_nm           object
clac3_nm           object
dtypes: float64(1), int64(7), object(12)
memory usage: 639.0+ MB

#### Distribution
    sns.distplot()
    sns.jointplot()
    sns.pairplot()
    sns.rugplot()
    sns.kdeplot()

##### distplot
    단일 변수 분포

In [73]:
session.columns

Index(['clnt_id', 'sess_id', 'sess_seq', 'sess_dt', 'tot_pag_view_ct',
       'tot_sess_hr_v', 'dvc_ctg_nm', 'zon_nm', 'city_nm', 'clnt_gender',
       'clnt_age', 'hits_seq', 'pd_c', 'pd_add_nm', 'pd_bra_nm', 'pd_buy_am',
       'pd_buy_ct', 'clac1_nm', 'clac2_nm', 'clac3_nm'],
      dtype='object')

In [ ]:
session.pd.to_csv('session.csv')

In [ ]:
sns.distplot(session['tot_sess_hr_v'])

##### distplot

##### distplot

##### distplot

##### distplot

#### Matrix Plot